.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Header{
text-align: center;
justify-content: center;
background-color: green;
color: white;
font-family: Arial, sans-serif;
position: relative;
top: 0;
width: 100%;
}
Footer{
text-align: center;
justify-content: bottom;
background-color: green;
color: white;
font-family: Arial, sans-serif;
bottom: 0;
width: 100%;
position: fixed;
padding: 0;
}
AddItem{
justify-content: center;
position: fixed;
}
Search{
justify-content: center;
}
